@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --header-background: rgba(7, 40, 74, 0.991);
}
.App {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.small {
  padding: 4%;
  word-break: break-all;
  font-size: small;
  color: #6b6b6b;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 */
